In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('cleaned.csv')
df.head()

   Unnamed: 0       Star_name     Distance Mass  Radius Luminosity
0           0             Sun  0.000015813    1       1          1
1           1          Sirius       0008.6  2.1  1.71Â´       25.4
2           2         Canopus         0310   15      71     13,500
3           3  Alpha Centauri       0004.4  1.1     1.2          2
4           4        Arcturus         0037  1.1      26        170

In [8]:
mass_threshold = 0.8  
potential_exoplanet_hosts = df['Mass'].astype(float) >= mass_threshold

ValueError: could not convert string to float: '0.7 - 1.0'